@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;600&display=swap");
.form button.add, .form button.close, nav button {
  margin: 1rem 0;
  cursor: pointer;
  color: #fff;
  background-color: rgb(29, 120, 255);
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 1.5rem 2rem;
  border-radius: 2.5rem;
  font-size: inherit;
  font-size: inherit;
}

.glassmorphism-effect {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  font-family: "Nunito", sans-serif;
  color: #fff;
  font-size: 1.6rem;
  min-height: 100vh;
  text-align: center;
}

.container {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80vh;
  padding: 1rem 1.4rem;
}

nav {
  position: relative;
  z-index: 2;
}
nav button:hover {
  opacity: 0.7;
}

.form {
  position: absolute;
  display: none;
  width: 30%;
  top: 30%;
  right: 1%;
  z-index: 3;
  padding: 2rem;
}
.form * {
  width: 100%;
  display: block;
  padding: 1rem 2.5rem;
}
.form input, .form textarea {
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 2.5rem;
  background: rgba(255, 255, 255, 0.1);
  font-family: inherit;
}
.form *:not(button):focus {
  outline: 3px solid #9999FF;
  background: #fff;
  color: #000;
}
.form label {
  font-weight: bold;
  padding-top: 1rem;
  text-align: left;
}
.form textarea {
  height: 200px;
  resize: none;
}
.form button.add:hover, .form button.close:hover {
  opacity: 0.7;
}

.tasksTable {
  display: flex;
  flex-wrap: wrap;
}
.tasksTable .task-single {
  margin: 1rem;
  padding: 1rem 2.2rem;
  width: 23%;
  display: flex;
  position: relative;
  text-align: left;
  font-weight: bold;
}
.tasksTable .task-single::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-width: 2px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, darkblue, darkorchid) 1;
     border-image: linear-gradient(to right, darkblue, darkorchid) 1;
  transform: skew(-15deg);
}
.tasksTable .task-single p.delete {
  position: absolute;
  right: 0.6rem;
  top: 0;
  width: 16px;
  height: 30px;
  background: url(../images/trash-can-solid.svg) no-repeat center center;
  background-size: contain;
  cursor: pointer;
  opacity: 0.6;
}
.tasksTable .task-single > div:last-child {
  padding-left: 1.6rem;
}
.tasksTable .task-single > div:last-child p:first-child {
  font-size: 2rem;
}
.tasksTable .task-single > div:last-child p:last-child {
  font-weight: 400;
}

.bubble {
  border-radius: 50%;
  position: absolute;
}

.bubble-one {
  height: 80px;
  left: 300px;
  top: 10px;
  width: 80px;
}

.bubble-two {
  height: 230px;
  right: 200px;
  top: -50px;
  width: 230px;
}

.bubble-three {
  height: 50px;
  right: 450px;
  top: -20px;
  width: 50px;
}

.bubble-four {
  bottom: 40px;
  height: 100px;
  left: -30px;
  width: 100px;
}/*# sourceMappingURL=style.css.map */